<div class="container">
  <div class="row">
    <div class="col-md-5">
      <h2>Currency Exchange Rates</h2>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Enter currency symbol. eg: GBP, AUD, INR, USD" [(ngModel)]="id_currency" (change)="callCurrencyService()">
      </div>
      <div class="text-info">
        You can select currencies from: <small>AUD, BGN, BRL, CAD, CHF, CNY, CZK, DKK, GBP, HKD, HRK, HUF, IDR, ILS, INR, ISK, JPY, KRW, MXN, MYR, NOK, NZD, PHP, PLN, RON, RUB, SEK, SGD, THB, TRY, USD, ZAR.</small>
      </div>
    </div>
    <div class="col-md-7">
      <h3>Rate Details</h3>
      <p class="well lead">Exchange Rate relative to Euro in a JSON format: {{ this.my_result }}, Base: {{ this.my_result.date }}</p>
      <p class="text-info">
        Total # of all the service requests including Weather, Movie, and Currency is: <span class="badge">{{ this._sharedService.totReqsMade }}</span>
      </p>
    </div>
  </div>
</div>
